{{page-title this.model.title}}

<AuToolbar @size="medium" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink @route="index" @icon="arrow-left">
          Overzicht subsidiemaatregelen
        </AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        {{this.model.title}}
      </li>
      <li class="au-c-list-horizontal__item">
        {{this.selected.label}}
      </li>
    </ul>
  </Group>
  <Group>
      <PowerSelect
        style="width: 300px; text-wrap: nowrap;"
        @onChange={{this.updateSelection}}
        @selected={{this.selected}}
        @options={{this.model.series}}
        @loadingMessage="Aan het laden..."
        as |serie|
      >
        <span>
          {{serie.label}} | {{serie.description}}
        </span>
      </PowerSelect>
      <AuDropdown
        @title="Instellingen"
        @alignment="left"
        @skin="primary"
        @icon="settings"
        @iconAlignment="left"
      >
        <AuButton @skin="link" @icon="switch" role="menuitem" @disabled={{true}}>
          Voeg een reeks toe
        </AuButton>
        <AuButton
          @skin="link" @icon="switch" role="menuitem"
          @disabled={{true}}
        >
          Datum aanpassen
        </AuButton>
      </AuDropdown>
    </Group>
</AuToolbar>

{{outlet}}
