{{page-title this.model.title}}
<AuToolbar @border="bottom" @size="large" @nowrap="{{true}}" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2" data-test-loket="subsidiebeheer-page-title">Subsidieseries voor "{{this.model.title}}"</AuHeading>
      <p>Hier vindt u een overzicht van de series voor {{this.model.title}}.</p>
    </div>
  </Group>
</AuToolbar>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container">
      <AuDataTable
        @content={{this.model.series}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage="Geen periodes gevonden"
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
                @label="subsidie serie"
                @field="label"
                @currentSorting={{this.sort}}
                class="au-u-visible-medium-up"
              />
              <th colspan="1">subsidie periode</th>
          </c.header>
          <c.body as |series|>
            <td class="au-u-visible-medium-up au-u-word-break">
              <AuLink
                
              >
                {{series.title}} 
              </AuLink>
            </td>
            <td class="au-u-visible-medium-up au-u-word-break">
              <AuHelpText @skin="secondary" class="au-u-margin-top-none">
                {{#if (or series.period.begin series.period.end)}}
                  {{moment-format series.period.begin "DD MMMM YYYY"}}
                    &#8211;
                    {{moment-format series.period.end "DD MMMM YYYY"}}
                  {{else}}
                    N.V.T.
                {{/if}}
              </AuHelpText>
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
     </div>
  </div>
</main>   