{{page-title "Criteria"}}
<AuToolbar @size="large" as |Group|>
  <Group>
    <AuHeading @skin="5">Hier vindt u een overzicht van de criteria's die actief zijn.</AuHeading>
  </Group>
  <Group>
    <AuButton
      @disabled={{true}}
    >
      Voeg Criterin toe
    </AuButton>
  </Group>
</AuToolbar>
<AuDataTable
  @content={{this.model.subsidyMeasureOffer.criteria}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage="Geen criteria gevonden"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
        <th colspan="1">criteria doelgroep</th>
    </c.header>
    <c.body as |criteria|>
      <td class="au-u-visible-medium-up au-u-word-break">
        {{criteria.name}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>
{{outlet}}