{{page-title "Steps"}}

<AuBodyContainer @scroll={{true}}>
  <div class="sidebar-container">
    <div class="sidebar-container__sidebar">
      <div class="au-c-sidebar">
        <div class="sidebar-container__content">
          {{#if this.setup.isRunning}}
            <AuLoader />
          {{else}}
            {{#if this.model.activeApplicationFlow}}
              <ul>
                {{#each this.model.activeApplicationFlow.sortedDefinedSteps as |step|}}
                  {{#if step.subsidyProceduralStep.description}}
                      <AuButton 
                        @wrap="true"
                        @skin="naked"
                        @size="large"
                        class="au-c-panel au-o-box sidebar-container__sidebar-button"
                      >
                        <AuHeading @skin="4">{{step.order}}. {{step.subsidyProceduralStep.description}}</AuHeading>
                        {{#if (this.isFirstStep step)}}
                          <AuHelpText>
                            Indienen vanaf {{moment-format step.deadline.begin "DD MMMM YYYY"}}
                          </AuHelpText>
                        {{/if}}
                        {{#if (this.isLastStep step)}}
                          <AuHelpText>
                            Indienen tot {{moment-format step.deadline.end "DD MMMM YYYY"}}
                          </AuHelpText>
                        {{/if}}
                      </AuButton>
                    
                  {{else}}
                    <AuLoader/>
                  {{/if}}
                {{/each}}
              </ul>
            {{else}}
              <AuLoader/>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</AuBodyContainer>

{{outlet}}
